<h1>Create Application</h1>
  <%= form_for(@application) do |f| %>
    <label>Program Name:</label><br>
    <%= f.text_field :program_name %><br>

    <label>Primary Doctor:</label><br>
    <%= f.text_field :primary_doctor %><br>
  
    <label>Allergies:</label><br>
    <%= f.text_area :allergies %><br>

    <label>Medical Conditions:</label><br>
    <%= f.text_area :medical_conditions %><br>

    <label>Medications:</label><br>
    <%= f.text_area :medications %><br>

    <label>Emergency Contact:</label><br>
    <%= f.text_field :emergency_contact %><br>

    <label>Contact Relationship:</label><br>
    <%= f.text_field :emergency_contact_relationship %><br>

    <label:</label>Contact Number:</label><br>
    <%= f.text_field :emergency_contact_number %><br>

    <br><%= f.submit %>
  <% end %> 