<h1>@application.program_name</h1>
<br>
  <ul>
    <li>Student First Name: <%= @application.first_name %></li><br>
    <li>Student Last Name: <%= @application.last_name %></li><br>
    <li>Date of Birth: <%= @application.DOB %></li><br>
    <li>Gender: <%= @application.gender %></li><br>
    <li>Grade: <%= @application.grade %></li><br>
    <li>School: <%= @application.school %></li><br>
    <li>Primary Doctor: <%= @application.primary_doctor %></li><br>
    <li>Allergies: <%= @application.allergies %></li><br>
    <li>Medical Conditions: <%= @application.medical_conditions %></li><br>
    <li>Medications: <%= @application.medications %></li><br>
    <li>Emergency Contact Name: <%= @application.emergency_contact_name %></li><br>
    <li>Emergency Contact Relationship: <%= @application.emergency_relationship %></li><br>
    <li>Emergency Contact Number: <%= @application.emergency_number %></li><br>
  </ul>
</br>