<h1>OST Program: <em>@program.name</em></h1>
<br>
  <ul>
    <li>Name: <%= @program.name %></li><br>
    <li>Agency: <%= @program.agency %></li><br>
    <li>Grade Level: <%= @program.grade_level %></li><br>
    <li>Capacity: <%= @program.capacity %></li><br>
    <li>Address: <%= @program.address %></li><br>
    <li>Contact Number: <%= @program.contact_number %></li><br>
  </ul>
</br>