<h1>@user.first_name Profile</h1>
<%= form_for(@user) do |f| %>
  <%= f.label :first_name %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %><br>
  <%= f.text_field :last_name %><br>

  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.label :street_address %><br>
  <%= f.text_field :street_address %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>

  <%= f.label :state %><br>
  <%= f.text_field :state %><br>

  <%= f.label :zip_code %><br>
  <%= f.text_field :zip_code %><br>

  <%= f.label :phone_number %><br>
  <%= f.text_field :phone_number %><br>

  <br><%= f.submit %>
<% end %> 
