<h1><%= @user.first_name %>'s Profile</h1>
<br>
  <ul>
    <li>First Name: <%= @user.first_name %></li><br>
    <li>Last Name: <%= @user.last_name %></li><br>
    <li>Street Address: <%= @user.street_address %></li><br>
    <li>City: <%= @user.city %></li><br>
    <li>State: <%= @user.state %></li><br>
    <li>Zipcode: <%= @user.zip_code %></li><br>
    <li>Phone Number: <%= @user.phone_number %></li><br>
    <li>Email: <%= @user.email %></li><br>
  </ul>
  Profile created: <%= @user.created_at.strftime('%B %d, %Y, %T') %><br> 
  Profile updated: <%= @user.updated_at.strftime('%B %d, %Y, %T') %>
<br>
<%= link_to 'Edit Profile', edit_user_path(@user) %><br>
<%= link_to 'Log Out', logout_path %>