<h1>@user.username Profile</h1>
<br>
  <ul>
    <li>First Name: <%= @user.first_name %></li><br>
    <li>Last Name: <%= @user.last_name %></li><br>
    <li>Street Address: <%= @user.street_address %></li><br>
    <li>City: <%= @user.city %></li><br>
    <li>State: <%= @user.state %></li><br>
    <li>Zipcode: <%= @user.zip_code %></li><br>
    <li>Phone Number: <%= @user.phone_number %></li><br>
    <li>Email Address: <%= @user.email_address %></li><br>
  </ul>
</br>