<!DOCTYPE html>
<html>
  <head>
    <title>NYC OstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="wrapper">

  <%= yield %>

<footer class="branding">
<br>
  <small>&copy; 2021 <strong>NYC-OST</strong></small>
</footer>
</div>
  </body>
</html>
